<?xml version="1.0" encoding="utf-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        verbose="true"
        colors="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
